body{
    font-family: 'Lobster', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 100vh;
    background-color: #222222;
}
h1{
    text-align: right;
    font-weight: lighter;
    height: 100px;
    width: 488px;
    padding: 0px 0px 0px 12px;
    margin: 0;
    font-size: 20px;
    color: aliceblue;
    background-color:#31313179;
    border-radius: 4px;
}
.container{
    display: grid;
    grid-template-columns: (5, 100px) repeat;
    width: 500px;
    height: 381px;
    /* gap: 1px; */
    padding: 5px ;
    border-radius: 5px;
}
button{
    font-size: 17.5px;
    width: 100px;
    height: 50px;
    color: aliceblue;
    background-color: #313131;
}
button:hover{
    background-color: #313131;
}
.b1{
    grid-column: span 5;
}
.beauty{
    background-color: #31313121;
}
/* .c22, .c23{
    width: 260px;
} */
.unique{
    background-color: rgba(254, 134, 174, 0.508);
}
.unique:hover{
    background-color: rgba(254, 63, 181, 0.667);
}

