*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: #050c36;
    color: #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1px;
}

h1{
    text-align: center;
    padding: 30px;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* background-color: #784008; */
    background: linear-gradient(to right, rgba(255, 166, 0, 0.484), rgba(228, 112, 10, 0.592), 160%, transparent);
    height: auto;
    border-radius: 10px;
    margin: 5px 40px;
}

.main1{
    position: relative;
}

.main1, .main2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* box-shadow: inset 5px 1px 10px 10px rgba(248, 12, 0, 0.2); */
    margin-bottom: 20px;
}


h2{
    text-align: center;
    color: #000000;
}

.main2{
    display: inline;
    padding-top: 30px;
}

/* .main1{
    margin: 10px;
    top: 0;
} */

.fas{
    color: #b107318c;
    cursor: pointer;
    float: right;
    padding: 5px;
}
.fas:hover{
    color: #ff0000;
    font-size: larger;
}
.fa-edit{
    color: #14ba0eab;
}
.fa-edit:hover{
    color: #09ff00;
}

input[type="text"]{
    width: 300px;
    height: 30px;
    padding: 5px;
    font-size: large;
    margin: 20px;
    border: none;
    border-radius: 5px;
}
input[type="search"]{
    width: 315px;
    height: 40px;
    padding: 5px;
    font-size: large;
    margin: 20px;
    border: none;
    border-radius: 5px;
}

li{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    font-weight: 600;
    padding-top: 10px;
    background-color: #050c3681;
    list-style-type: none;
    border: none;
    width: 275px;
    border-radius: 5px;
    padding: 15px;
    margin-top: 3px;
}

.done{
    text-decoration: line-through;
    opacity: 0.3;
    background-color: #0b6a07ac;
}