*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: antiquewhite;
    font-size: 10px;
    margin: 0px;
    padding: 0px;
}
.container{
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    text-justify: inter-word;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 2em;
}
h1{
    margin-bottom: 50px;
}
h2{
    padding-top: 20px;
    font-size: xx-large;
}
strong{
    color: #7b14dd;
}
i{
    font-size: 80px;
}
.grey{
    color: #706d6d;
}

.sun{
    color: #e2a012;
}

.dark{
    background-color: #070a1e;
    color: antiquewhite;
    font-size: 8px;
    font-weight: bold;
    transition: 4s linear all;
}
.last{
    padding-top: 200px;
    margin: 0;
    font-size: 18px;
    bottom: 0;
}
.second{
    margin-top: 20px;
    font-size: 11px;
    bottom: 0; 
}
